<%- include('partials/header') %>

<h1><%= blogTitle %></h1>
<p><%= blogContent %></p>

<form method="post" action="/delete">
    <button class="btn btn-primary" type="submit" name="title" value="<%= blogTitle %>">Delete</button>
</form>

<%- include('partials/footer') %>