<%- include('header') -%>
<div class="heading">
    <h1>
        <%= listType %>
    </h1>
</div>
<div class="flex-container">

    <% for(var i=0; i < list_items.length; i++){ %>
    <div class="item">
        <input type="checkbox">
        <p>
            <%= list_items[i] %>
        </p>
    </div>
    <% } %>

    <form method="post" action="/" class="form item">
        <input type="text" name="next_item" placeholder="Add new work" autocomplete="off">
        <button type="submit" name="list" value="<%= listType %>">+</button>
    </form>
<%- include('footer') -%>