<%- include('header') -%>
<div class="heading">
    <h1>
        <%= listType %>
    </h1>
</div>
<div class="flex-container">    

    <% list_items.forEach((list_item) => { %>
        <form action="/delete/<%= listType %>" method="post" class="item">
            <div>
                <input type="checkbox" onchange= "this.form.submit()" value="<%= list_item._id %>" name="deletedItem">
                <p>
                    <%= list_item.name %>
                </p>
            </div>
        </form>
    <% }) %>

    <form method="post" action="/" class=" form item">
        <input type="text" class="next-item" name="next_item" placeholder="Add new work" autocomplete="off">
        <button type="submit" class="enter" name="list" value="<%= listType %>">+</button>
    </form>
    <div class="footer">
        <p>Dhruvil Suthar, 2023</p>
    </div>
</div>
<button class="toggler" onclick="toggleNav()">☰</button>
<div class="side-panel" id="my-side-panel">
    <h2>Available Lists</h2>
    <p>Select any of the following list or create a new list</p>

    <a class="active side-item" href="/">Today's list</a>
    <% availList.forEach((list) => { %>
        <a class="side-item" href="/list/<%= list.name %>"><%= list.name %></a>
    <% }) %>   

    <form method="post" action="/delete/<%= listType %>" class="side-form">
        <input type="text" placeholder="Enter new list name" class="new-list-input " name="newListName" autocomplete="off">
        <button class="create" type="submit">Create</button>
    </form>
</div>
<script src="/JS/client.js" ></script>
</body>
</html>