<%- include('header') -%>
<div class="heading">
    <h1>
        <%= listType %>
    </h1>
</div>
<div class="flex-container">    

    <% list_items.forEach((list_item) => { %>
        <form action="/delete/<%= listType %>" method="post" class="item">
            <div>
                <input type="checkbox" onchange= "this.form.submit()" value="<%= list_item._id %>" name="deletedItem">
                <p>
                    <%= list_item.name %>
                </p>
            </div>
        </form>
    <% }) %>

    <form method="post" action="/" class=" form item">
        <input type="text" name="next_item" placeholder="Add new work" autocomplete="off">
        <button type="submit" name="list" value="<%= listType %>">+</button>
    </form>
<%- include('footer') -%>